<div class="text-center" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading">
  <div *ngIf="data.length > 0; else noData">
    <app-map [lat]="lat" [lng]="lng"></app-map>

    <h5>Total items: <small>{{ data.length }}</small></h5>
    <p class="text-muted text-center">Select an item to view the location on the map</p>
    
    <div class="card-columns">
      <app-card *ngFor="let info of data"
        [permitType]="info.permit_type"
        [workDescription]="info.work_description"
        [coordinates]="info.location.coordinates"
        (onClick)="setLatLng($event)">
      </app-card>
    </div>
  </div>

  <ng-template #noData>
    <div class="alert alert-primary text-center" role="alert">
      No data found.
    </div>
  </ng-template>
</div>
